*{
    margin:0;
    padding:0;
}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: table;
}

.clearfix:after {
    clear: both;
}
.dress {
    max-width:608px;
    min-width:288px;
    padding:0 16px 20px;
    margin:0 auto;
}
.dress-title {
    color:#313131;
    font-size:20px;
    font-weight:normal;
    line-height: 1.1;
    padding:25px 0 15px;
    font-weight: bold;
}
.dress-tips {
    color:#bcbcbc;
    font-size:12px;
    padding:0 0 25px 0;
}
.dress-tips time {
}
.dress-tips em {
    font-style:normal;
    padding:0 7px;
}
.dress-tips span {
    color:#0097df;
}
.dress-text {
    font-size:17px;
    line-height:22px;
}
.dress-footer {
    /*border-top:1px dashed #ccc;*/
    /*border-bottom:1px solid #ccc;*/
    color:#676767;
    font-size:17px;
    line-height:22px;
    margin:10px 0 0;
    padding:10px 0;
}
.dress-tit {
    color:#676767;
    font-size:17px;
    font-weight:bold;
    line-height:22px;
    padding:25px 0 10px;
}
img {
    width:100%;
}
.dress-about {
}
.dress-about dl {
    width:100%;
    color:#676767;
    padding:7px 0
}
.dress-about dt {
    float:left;
}
.dress-about dd {
    float:left;
}




/*
dayDetail 
*/
.dd {
    max-width:640px;
    min-width:320px;
    margin:0 auto;
}
.dd_title {
    padding:30px 16px 10px;
    height:17px;
}
.dd_title h1 {
    float:left;
    line-height:20px;
    color:#676767;
    font-size:17px;
    font-weight:normal;
    padding:0 28px 0 0;
}
.dd_title h1.b {
    background:url(/images/show/b.png) no-repeat right center;
    background-size:22px 20px;
}
.dd_title h1.m {
    background:url(/images/show/m.png) no-repeat right center;
    background-size:22px 20px;
}
.dd_title h1.f {
    background:url(/images/show/f.png) no-repeat right center;
    background-size:22px 20px;
}
.dd_title time {
    float:right;
}
.dd_title time em,
.dd_title time i {
    color:#676767;
    font-size:14px;
    line-height:17px;
    font-style:normal;
}
.dd_title time em {
    padding:0 5px 0 0;
}
.dd_tabs {
    margin:0 10px 60px;
    border:1px solid #d1d1d1;
    border-radius:7px;
    padding:5px;
    position:relative;
    box-shadow:0 2px 5px 1px #f3f3f3;
}
.dd_tabs .scroll {
    position:relativel
}
.dd_tabs .scroll_box {
    overflow:hidden;
    visibility:hidden;
    position:relative;
    border:1px solid #d1d1d1;
    border-radius:7px;
}
.dd_tabs .scroll_box li {
    overflow:hidden;
    border-radius:7px;
}
.dd_tabs .scroll_box img {
    display:block;
    border-radius:7px;
}

.dd_tabs .scroll_wrap {
    overflow:hidden;
    position:relative;
}
.dd_tabs .scroll_wrap li {
    position:relative;
    display:block;
    width:100%;
    float:left;
}
.dd_tabs .scroll_position {
    position:absolute;
    left:0;
    z-index:400;
    width:100%;
    bottom:-25px;
    text-align:center;
}
.dd_tabs .scroll_position li {
    display:inline-block;
    width:5px;
    height:5px;
    border-radius:10px;
    background:#b3b3b3;
    margin:0 4px;
}
.dd_tabs .scroll_position li.on {
    background-color:#676767;
}
