html {
    font-size: 14px;
    width: 100%;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
    font-size: 14px;
    line-height: 1.25;

}
a{
    color: #666666;
    text-decoration: none;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, p {
    margin: 0
}

/*加圆角*/
img {
    border: 0;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}

input, img {
    vertical-align: middle
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.none {
    display: none
}
.mt05{
    margin-top: 5px;
}
.f46px,.f46px h1{
    font-size: 46px;
}
.f90px, .f90px h1{
    font-size: 84px;
}
.arrow{
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width:14px;
    line-height: 0;
    font-size: 0;
    width: 0;
    margin: 0;
    overflow: hidden;
}


h1{
    font-size: 46px;
}
.wrap {
    width: 100%;
    /*min-width: 320px;*/
    height: 100%;
    background-color: #FFF;
}

.weather-lead{
    height: 220px;
    padding: 25px 15px;
    background-color: #00aba1;
    color: #fff;
    /*border-bottom: #399a94 solid 1px;*/
    position: relative;
    overflow: hidden;
}

.weather-lead .comfortable{
    width: 150px;
    height: 140px;
    overflow: hidden;
}
.weather-lead .comfortable4{
    width: 110px;
}
.weather-lead .title{
    position: relative;
}

.weather-lead .title h1,.weather-lead .title .shadow{
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: bold;
}
.weather-lead .comfortable .shadow{
    -webkit-text-stroke:6px #30bbb3;
    color: #30bbb3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;

}
.weather-lead .comfortable p{
    font-size: 32px;
    padding-left: 2px;
    margin-top: 4px;
}
.weather-lead .notice-box{
    font-family: HelveticaNeue,helvetica,arial,sans-serif;
    position: absolute;
    left: 15px;
    bottom: 15px;
}
.weather-lead .notice-box .city{
    font-size: 17px;
}
.weather-lead .notice-box .city .ico-city{
    width: 15px;
    height: 18px;
    display: inline-block;
    background: url("http://cdn.moji.com/index/images/position-white.png") no-repeat 0 0;
    background-size: 15px 15px;
    vertical-align: middle;
    margin-right: 2px;
}
.weather-lead .notice{
    margin-top: 4px;
    padding-top: 6px;
    border-top:#99ddd9 solid 1px;

}
.weather-lead .animate{
    width: 210px;
    height: 210px;
    position: absolute;
    top: -55px;
    right: -55px;
}
.weather-lead .animate .big-circle{
    display: block ;
    width: 210px;
    height: 210px;
    background:url("http://cdn.moji.com/index/images/clothes-animate.png") no-repeat center ;
    background-size: 210px auto;
}
.weather-lead .animate .small-circle{
    display: block ;
    width: 104px;
    height: 104px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -52px;
    margin-top: -52px;
    background:url("http://cdn.moji.com/index/images/clothes-circle.png") no-repeat center ;
    background-size: 104px auto;
}

.day-content .tab-cot{
    line-height:20px;
    color: #fff;
    position: relative;
    /*padding-bottom: 14px;*/
    font-size: 16px;
    text-shadow: 1px 0px 0px #28a59e,-1px 0px 0px #28a59e,0px 1px 0px #28a59e,0px -1px 0px #28a59e,0px 0px 3px #000;
}
.day-content .tab-cot:after{
    display: block;
    content: "";
    width:100%;height:100%;
    background: url("http://cdn.moji.com/index/images/bg.png") no-repeat transparent;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.day-content .tab-cot .note{
    padding: 15px;
    background-color: #00aba1 ;
}
.day-content .arrow{
    border-color: #00aba1 transparent transparent transparent;
    position: relative;
    /*bottom:-14px;*/
    left: 16.5%;
    top: -3px;
    /*margin-left: -14px;*/
}

.day-content .day-tabs{
    height: 85px;
    border-bottom: #e5e5e5 solid 1px;
    position: relative;
    margin-top: -28px;
}
.day-content .day-tabs ul li{
    width: 33.333%;
    float: left;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}
.day-content .day-tabs ul li a{
    display:block ;
    height: 45px;
    padding:22px 0 19px;
    text-align: center;
    border-right: #e5e5e5 solid 1px;
}
.day-content .day-tabs ul li:last-child a{
    border-right: none;
}
.day-content .day-tabs ul li p{
    font-size: 16px;
    font-weight: normal;
}
.baike-text{
    padding: 10px;
    color: #666;
    font-size: 14px;
    /*padding-top: 0;*/
}
.baike-blank01,.advertise-blank01{
    border: #d7d7d7 solid 1px;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0px 1px 4px #ccc;
}
.baike-blank02,.advertise-blank02{
    border: #d7d7d7 solid 1px;
    border-radius: 6px;
    padding: 10px;
    background-color: #ececec;
}
.advertise{
    padding: 10px;
    /*padding-top: 0;*/
    padding-bottom: 0;
    position:relative;
}
.advertise a {
    display:block;
    width:100%;
    position:relative;
}
.advertise em {
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
    color:#ffffff;
    font-size:17px;
    font-style:normal;
    font-weight:normal;
    background:rgba(0,0,0,.5);
    border-radius:0 0 5px 5px;
    padding: 5px 5px 3px;
    width:100%;
    -webkit-box-sizing: border-box;
}
.advertise-blank02{
    padding: 0;
}
.baike-text .baike-blank02 h2{
    font-weight: bold;
    font-size: 14px;
}
.baike-text .baike-blank02 p{
    font-size: 10px;
}


/*clothes hot*/
#clothes-index-hot .weather-lead{
    height: 200px;
    background-color: #ff5134;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#clothes-index-hot .tab-cot .note {
    background-color: #ff5134;
}
#clothes-index-hot .comfortable h1,#clothes-index-hot .comfortable .shadow {
    /*font-size: 90px;*/
    line-height: 1;
    color: #fff;

}
#clothes-index-hot .comfortable .shadow {
    -webkit-text-stroke: 4px #ff6630;
    color: #ff6630;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}

#clothes-index-hot .weather-lead .notice{
    border-top: #ffb399 solid 1px;
}
#clothes-index-hot .day-content .tab-cot{
    text-shadow: 1px 0px 0px #e26032,-1px 0px 0px #e26032,0px 1px 0px #e26032,0px -1px 0px #e26032,0px 0px 3px #000;
}
#clothes-index-hot .day-content .arrow{
    border-color: #ff5134 transparent transparent transparent;
}
/*clothes cold*/
#clothes-index-cold .weather-lead{
    height: 200px;
    background-color: #00a2ff;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#clothes-index-cold .tab-cot .note {
    background-color: #00a2ff;
}
#clothes-index-cold .weather-lead .comfortable h1 {
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
}
#clothes-index-cold .comfortable .shadow {
    -webkit-text-stroke: 6px #30b4ff;
    color: #30b4ff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#clothes-index-cold .weather-lead .notice{
    border-top: #99daff solid 1px;
}
#clothes-index-cold .day-content .tab-cot{
    text-shadow: 1px 0px 0px #32a3e2,-1px 0px 0px #32a3e2,0px 1px 0px #32a3e2,0px -1px 0px #32a3e2,0px 0px 3px #000;
}
#clothes-index-cold .day-content .arrow{
    border-color: #00a2ff transparent transparent transparent;
}


/*ray strong*/
#ray-index-strong .weather-lead{
    height: 225px;
    background-color: #ff4200;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#ray-index-strong  .tab-cot .note {
    background-color: #ff4200;
}
#ray-index-strong .weather-lead .comfortable h1 {
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
}
#ray-index-strong  .comfortable .shadow {
    -webkit-text-stroke: 6px #ff6630;
    color: #ff6630;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#ray-index-strong .weather-lead .notice{
    border-top: #ffb399 solid 1px;
}
#ray-index-strong .day-content .tab-cot{
    text-shadow: 1px 0px 0px #e26032,-1px 0px 0px #e26032,0px 1px 0px #e26032,0px -1px 0px #e26032,0 0 3px #000;
}
#ray-index-strong .day-content .arrow{
    border-color: #ff4200 transparent transparent transparent;
}

/*ray weak*/
#ray-index-weak .weather-lead{
    height: 225px;
    background-color: #ff8a00;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#ray-index-weak  .tab-cot .note {
    background-color: #ff8a00;
}
#ray-index-weak .weather-lead .comfortable h1,#ray-index-weak  .comfortable .shadow {
    /*font-size: 90px;*/
    line-height: 1;
    color: #fff;
    font-weight: normal;
}
#ray-index-weak  .comfortable .shadow {
    -webkit-text-stroke: 4px #ffa030;
    color: #ffa030;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#ray-index-weak .weather-lead .notice{
    border-top: #ffd099 solid 1px;
}
#ray-index-weak .day-content .tab-cot{
    text-shadow: 1px 0px 0px #e29132,-1px 0px 0px #e29132,0px 1px 0px #e29132,0px -1px 0px #e29132,0 0 3px #000;
}
#ray-index-weak .day-content .arrow{
    border-color: #ff8a00 transparent transparent transparent;
}
#ray-index-weak .weather-lead .comfortable p {
    font-size: 32px;
    padding-left: 5px;
}

/*ray mid*/
#ray-index-mid .weather-lead{
    height: 225px;
    background-color: #ff6000;
    color: #fff;
    position: relative;
    overflow: hidden;
}

#ray-index-mid  .tab-cot .note {
    background-color: #ff6000;
}
#ray-index-mid .weather-lead .comfortable h1 {
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
}
#ray-index-mid  .comfortable .shadow {
    -webkit-text-stroke: 6px #ff7e30;
    color: #ff7e30;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}

#ray-index-mid .weather-lead .notice{
    border-top: #ffbf99 solid 1px;
}
#ray-index-mid .day-content .tab-cot{
    text-shadow: 1px 0px 0px #e27532,-1px 0px 0px #e27532,0px 1px 0px #e27532,0px -1px 0px #e27532,0 0 3px #000;
}
#ray-index-mid .day-content .arrow{
    border-color: #ff6000 transparent transparent transparent;
}

/*sport ok*/
#sport-index-ok .weather-lead{
    height: 225px;
    background-color: #82bd9c;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#sport-index-ok .tab-cot .note{
    background-color: #82bd9c;
}
#sport-index-ok .weather-lead .comfortable h1 {
    line-height: 1;
    color: #fff;
}
#sport-index-ok  .comfortable .shadow {
    -webkit-text-stroke: 6px #9ac9af;
    color: #9ac9af;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#sport-index-ok .weather-lead .notice{
    border-top: #cde5d7 solid 1px;
}
#sport-index-ok .day-content .tab-cot{
    text-shadow: 1px 0px 0px #8fb6a1,-1px 0px 0px #8fb6a1,0px 1px 0px #8fb6a1,0px -1px 0px #8fb6a1, 0 0 3px #000;
}
#sport-index-ok .day-content .arrow{
    border-color: #82bd9c transparent transparent transparent;
}
/*sport no*/
#sport-index-no .weather-lead{
    height: 225px;
    background-color: #597c68;
    color: #fff;
    position: relative;
    overflow: hidden;
}

#sport-index-no .tab-cot .note{
    background-color: #597c68;
}
#sport-index-no .weather-lead .comfortable h1 {
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
}
#sport-index-no  .comfortable .shadow {
    -webkit-text-stroke: 6px #789584;
    color: #789584;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#sport-index-no .weather-lead .notice{
    border-top: #bdcbc3 solid 1px;
}
#sport-index-no .day-content .tab-cot{
    text-shadow: 1px 0px 0px #748b7e,-1px 0px 0px #748b7e,0px 1px 0px #748b7e,0px -1px 0px #748b7e,0 0 3px #000;
}
#sport-index-no .day-content .arrow{
    border-color: #597c68 transparent transparent transparent;
}

/*flu01*/
#flu-index-01 .weather-lead{
    height: 225px;
    background-color: #74d3d0;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#flu-index-01 .weather-lead .comfortable {
    width: 150px;
    padding-top: 15px;
}
#flu-index-01  .tab-cot .note {
    background-color: #74d3d0;
}
#flu-index-01 .weather-lead .comfortable h1 {
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
}
#flu-index-01  .comfortable .shadow {
    -webkit-text-stroke: 6px #8edbd9;
    color: #8edbd9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}

#flu-index-01 .weather-lead .notice{
    border-top: #c7edec solid 1px;
}
#flu-index-01 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #82c4c2,-1px 0px 0px #82c4c2,0px 1px 0px #82c4c2,0px -1px 0px #82c4c2,0px 0px 3px #000;
}
#flu-index-01 .day-content .arrow{
    border-color: #74d3d0 transparent transparent transparent;
}


/*flu02*/
#flu-index-02 .weather-lead{
    height: 225px;
    background-color: #5abcb9;
    color: #fff;
    position: relative;
    overflow: hidden;
}

#flu-index-02 .weather-lead .comfortable {
    width: 150px;
    padding-top: 15px;
}

#flu-index-02  .tab-cot .note {
    background-color: #5abcb9;
}
#flu-index-02 .weather-lead .comfortable h1 {
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
}
#flu-index-02  .comfortable .shadow {
    -webkit-text-stroke: 6px #79c9c6;
    color: #79c9c6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#flu-index-02 .weather-lead .notice{
    border-top: #bde4e3 solid 1px;
}
#flu-index-02 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #70b4b2,-1px 0px 0px #70b4b2,0px 1px 0px #70b4b2,0px -1px 0px #70b4b2,0px 0px 3px #000;
}
#flu-index-02 .day-content .arrow{
    border-color: #5abcb9 transparent transparent transparent;
}

/*flu03*/
#flu-index-03 .weather-lead{
    height: 225px;
    background-color: #35918e;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#flu-index-03 .weather-lead .comfortable {
    width: 150px;
    padding-top: 15px;
}
#flu-index-03  .tab-cot .note {
    background-color: #35918e;
}
#flu-index-03 .weather-lead .comfortable h1 {
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
    text-shadow: 2px 0px 0px #5ba6a3,-2px 0px 0px #5ba6a3,0px 2px 0px #5ba6a3,0px -2px 0px #5ba6a3;
}
#flu-index-03  .comfortable .shadow {
    -webkit-text-stroke: 6px #5ba6a3;
    color: #5ba6a3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#flu-index-03 .weather-lead .notice{
    border-top: #aed3d2 solid 1px;
}
#flu-index-03 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #579795,-1px 0px 0px #579795,0px 1px 0px #579795,0px -1px 0px #579795,0 0 3px #000;
}
#flu-index-03 .day-content .arrow{
    border-color: #35918e transparent transparent transparent;
}

/*flu03*/
#flu-index-04 .weather-lead{
    height: 225px;
    background-color: #206865;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#flu-index-04 .weather-lead .comfortable {
    /*width: 150px;*/
    padding-top: 15px;
}
#flu-index-04  .tab-cot .note {
    background-color: #206865;
}
#flu-index-04 .weather-lead .comfortable h1 {
    /*font-size: 46px;*/
    line-height: 1;
    color: #fff;
}
#flu-index-04  .comfortable .shadow {
    -webkit-text-stroke: 6px #4a8482;
    color: #4a8482;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#flu-index-04 .weather-lead .notice{
    border-top: #a6c3c1 solid 1px;
}
#flu-index-04 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #497a78,-1px 0px 0px #497a78,0px 1px 0px #497a78,0px -1px 0px #497a78,0 0 3px #000;
}
#flu-index-04 .day-content .arrow{
    border-color: #206865 transparent transparent transparent;
}

/*car01*/
#car-index .weather-lead{
    height: 200px;
    background:url("http://cdn.moji.com/index/images/car-moving.gif") no-repeat center #630083;
    background-size: 100% auto;
    color: #fff;
    position: relative;
    overflow: hidden;
}
#car-index .weather-lead .limit-car{
    width: 37px;
    height: 37px;
    position: absolute;
    left: 40px;
    top: 136px;
    -moz-animation: CarBounceOut 2.2s ease-in-out .4s 1 normal;
    -webkit-animation: CarBounceOut 2.2s ease-in-out .4s 1 normal;
    -o-animation: CarBounceOut 2.2s ease-in-out .4s 1 normal;
    animation: CarBounceOut 2.2s ease-in-out .4s 1 normal;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#car-index .weather-lead .limit-car img{
    width: 100%;
    height: 100%;
}
#car-index .limit-text{
    width: 150px;
    margin: 30px auto 10px;
    text-align: center;
    line-height: 1;
    color: #fff;
}
#car-index .small-text{
    width: auto;
}

#car-index .limit-text .title{
    position: relative;
}
#car-index .limit-text h1,#car-index .limit-text .shadow{
    font-size: 64px;
    color: #fff;
    position: relative;
    z-index: 1;
    font-weight: bold;
}
#car-index .small-text h1,#car-index .small-text .shadow{
    font-size: 32px;
}
#car-index .limit-text .shadow {
    -webkit-text-stroke: 6px #80309a;
    color: #80309a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
    width: 100%;
}
#car-index .limit-number{
    width: 200px;
    margin: 25px auto 10px;
    font-size: 136px;
    line-height:110px;
    text-align: center;
}
#car-index .limit-number span{
    display:inline-block ;
    text-shadow: 2px 0px 0px #80309a,-2px 0px 0px #80309a,0px 2px 0px #80309a,0px -2px 0px #80309a,#999 0 0 1px;
}
.limit-number span.leftline{
    margin: 8px 10px 0;
    width: 3px;
    overflow: hidden;
    display:inline-block ;
    height: 100px;
    vertical-align:top;
    background: url("http://cdn.moji.com/index/images/line.png") no-repeat center;
    background-size: 15px auto;
}
#car-index .position{
    font-size: 18px;
    text-align: center;
}
#car-index .position .ico-postion img{
    position: relative;
    margin-top: -2px;
}
#car-index .tab-cot .note{
    background-color: #630083;
}
#car-index .day-content .tab-cot{
    text-shadow: 1px 0px 0px #78368e,-1px 0px 0px #78368e,0px 1px 0px #78368e,0px -1px 0px #78368e,0 0 3px #000;
}
#car-index .day-content .arrow{
    border-color: #630083 transparent transparent transparent;
}


/*ray animation*/
.ray-animate{
    position: absolute;
    right: -38px;
    top: -32px;
}
.ray-circle-s,.ray-circle-b,.ray-circle-m{
    display: inline-block;
    position: absolute;

}
.ray-circle-b{
    top: 0;
    right: 0;
}
.ray-circle-m{
    top: 15px;
    right: 15px;
}
.ray-circle-s{
    top: 23px;
    right: 23px;
}

.ray-animate{
    transform-origin:top right;
    animation: rayRouteAnimate 10s linear 1s infinite normal;
    -moz-animation: rayRouteAnimate 10s linear 1s infinite normal;
    -webkit-animation: rayRouteAnimate 10s linear 1s infinite normal;
    -o-animation: rayRouteAnimate 10s linear 1s infinite normal;

}
@-webkit-keyframes rayRouteAnimate {
    0% { opacity: 1;  }
    25% { opacity:0.2; }
    50% { opacity: 1;  }
    75% { opacity: 0.2; }
    100% { opacity: 1;}
}
@-moz-keyframes rayRouteAnimate {
    0% { opacity: 1; }
    25% { opacity:0.2; }
    50% { opacity: 1; }
    75% { opacity: 0.2; }
    100% { opacity: 1;}
}
@-o-keyframes rayRouteAnimate {
    0% { opacity: 1; }
    25% { opacity:0.2; }
    50% { opacity: 1; }
    75% { opacity: 0.2; }
    100% { opacity: 1;}
}
@keyframes rayRouteAnimate {
    0% { opacity: 1; }
    25% { opacity:0.2; }
    50% { opacity: 1; }
    75% { opacity: 0.2; }
    100% { opacity: 1;}
}

/*sport animation*/
.sport-animate{
    position: absolute;
    top: -45px;
    right: -50px;
    animation: bladespin 10s linear 0 infinite normal;
    -moz-animation: bladespin 10s linear 0 infinite normal;
    -webkit-animation: bladespin 10s linear 0 infinite normal;
    -o-animation: bladespin 10s linear 0 infinite normal;

}
/*flu animation*/
.flu-animate{
    position: absolute;
    top: -35px;
    right: -35px;
    animation: bladespin180 12s linear 0s infinite normal;
    -moz-animation: bladespin180 12s linear 0s infinite normal;
    -webkit-animation: bladespin180 12s linear 0s infinite normal;
    -o-animation: bladespin180 12s linear 0s infinite normal;
}
.flu-animate .sand{
    width: 55px;
    height: 55px;
    position: absolute;
    left: 15px;
    bottom: 25px;
    background: url("http://cdn.moji.com/index/images/flu-animate02.png") no-repeat;
    background-size: 55px auto;
    animation: sandEscape 12s linear 0s infinite normal;
    -moz-animation: sandEscape 12s linear 0s infinite normal;
    -webkit-animation: sandEscape 12s linear 0s infinite normal;
    -o-animation: sandEscape 12s linear 0s infinite normal;
}



/*clothes animation*/
/*选择器默认样式*/
.big-circle {
    position: relative;
    display:block;
    text-align: center;
    cursor: pointer;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    animation: bounceIn 5s ease 0 infinite normal;
    -moz-animation: bounceIn 5s ease 0 infinite normal;
    -webkit-animation: bounceIn 5s ease 0 infinite normal;
    -o-animation: bounceIn 5s ease 0 infinite normal;
}

/*clothes index*/
@-webkit-keyframes bounceIn {
    0% { opacity: 1; -webkit-transform: scale(0.4); }
    10% { opacity: 1; -webkit-transform: scale(1.05); }
    14% { -webkit-transform: scale(0.9); }
    20%,100% { -webkit-transform: scale(1); }
}
@-moz-keyframes bounceIn {
    0% { opacity: 1; -moz-transform: scale(0.4); }
    10% { opacity: 1; -moz-transform: scale(1.05); }
    14% { -moz-transform: scale(0.9); }
    20%,100% { -moz-transform: scale(1); }
}
@-o-keyframes bounceIn {
    0% { opacity: 1; -o-transform: scale(0.4); }
    10% { opacity: 1; -o-transform: scale(1.05); }
    14% { -o-transform: scale(0.9); }
    20%,100% { -o-transform: scale(1); }
}
@keyframes bounceIn {
    0% { opacity: 1; transform: scale(0.4); }
    10% { opacity: 1; transform: scale(1.05); }
    14% { transform: scale(0.9); }
    20%,100% { transform: scale(1); }
}

/*ray index*/
.ray-circle-m,.ray-circle-b{
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
    -ms-animation-duration: .5s;
    -ms-animation-timing-function: ease;
    -ms-animation-fill-mode: both;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-fill-mode: both;

}

@-webkit-keyframes rayBounceIn01 {
    10% { opacity: 1; -webkit-transform:translate(0,0); }
    100% { -webkit-transform:translate(-88px,88px);}
}
@-moz-keyframes rayBounceIn01 {
    10% { opacity: 1; -moz-transform:translate(0,0); }
    100% { -moz-transform:translate(-88px,88px);}
}
@-o-keyframes rayBounceIn01 {
    10% { opacity: 1; -o-transform:translate(0,0); }
    100% { -o-transform:translate(-88px,88px);}
}
@keyframes rayBounceIn01 {
    10% { opacity: 1; transform:translate(0,0); }
    100% { transform:translate(-88px,88px);}
}
.rayBounceIn01{
    -webkit-animation-name:rayBounceIn01;
    -moz-animation-name:rayBounceIn01;
    -o-animation-name:rayBounceIn01;
    animation-name:rayBounceIn01;
}
@-webkit-keyframes rayBounceIn02 {
    0% { opacity: 1; -webkit-transform:translate(0,0); }
    100% { -webkit-transform:translate(-33px,33px);}
}
@-moz-keyframes rayBounceIn02 {
    0% { opacity: 1; -moz-transform:translate(0,0); }
    100% { -moz-transform:translate(-33px,33px);}
}
@-o-keyframes rayBounceIn02 {
    0% { opacity: 1; -o-transform:translate(0,0); }
    100% { -o-transform:translate(-33px,33px);}
}
@keyframes rayBounceIn02 {
    0% { opacity: 1; transform:translate(0,0); }
    100% { transform:translate(-33px,33px);}
}
.rayBounceIn02{
    -webkit-animation-name:rayBounceIn02;
    -moz-animation-name:rayBounceIn02;
    -o-animation-name:rayBounceIn02;
    animation-name:rayBounceIn02;
}


/*旋转动画*/
@-webkit-keyframes bladespin {
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes bladespin {
    0% {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(360deg)}
}
@-o-keyframes bladespin {
    0% {-o-transform: rotate(0deg)}
    100% {-o-transform: rotate(360deg)}
}
@keyframes bladespin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

/*sand move*/
@-webkit-keyframes sandEscape {
    0% {-webkit-transform: translate(0,0)}
    50% {-webkit-transform: translate(44px,-44px)}
    65% {-webkit-transform: translate(44px,-44px)}
    71% {opacity:0;-webkit-transform: translate(44px,-44px)}
    72% {opacity:0;-webkit-transform: translate(0,0)}
    100% {opacity:1;-webkit-transform: translate(0,0)}
}
@-moz-keyframes sandEscape {
    0% {-moz-transform: translate(0,0)}
    50% {-moz-transform: translate(44px,-44px)}
    65% {-moz-transform: translate(44px,-44px)}
    71% {opacity:0;-moz-transform: translate(44px,-44px)}
    72% {opacity:0;-moz-transform: translate(0,0)}
    100% {opacity:1;-moz-transform: translate(0,0)}
}
@-o-keyframes sandEscape {
    0% {-o-transform: translate(0,0)}
    50% {-o-transform: translate(44px,-44px)}
    65% {-o-transform: translate(44px,-44px)}
    71% {opacity:0;-o-transform: translate(44px,-44px)}
    72% {opacity:0;-o-transform: translate(0,0)}
    100% {opacity:1;-o-transform: translate(0,0)}
}
@keyframes sandEscape {
    0% {transform: translate(0,0)}
    50% {transform: translate(44px,-44px)}
    65% {transform: translate(44px,-44px)}
    71% {opacity:0;transform: translate(44px,-44px)}
    72% {opacity:0;transform: translate(0,0)}
    100% {opacity:1;transform: translate(0,0)}
}


@-webkit-keyframes bladespin180 {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(0deg);}
    60% {-webkit-transform: rotate(-180deg);}
    65% {-webkit-transform: rotate(-180deg);}
    71% {-webkit-transform: rotate(-180deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes bladespin180 {
    0% {-moz-transform: rotate(0deg);}
    50% {-moz-transform: rotate(0deg);}
    60% {-moz-transform: rotate(-180deg);}
    65% {-moz-transform: rotate(-180deg);}
    71% {-moz-transform: rotate(-180deg);}
    100% {-moz-transform: rotate(0deg);}
}
@-o-keyframes bladespin180 {
    0% {-o-transform: rotate(0deg);}
    50% {-o-transform: rotate(0deg);}
    60% {-o-transform: rotate(-180deg);}
    65% {-o-transform: rotate(-180deg);}
    71% {-o-transform: rotate(-180deg);}
    100% {-o-transform: rotate(0deg);}
}
@keyframes bladespin180 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(0deg);}
    60% {transform: rotate(-180deg);}
    65% {transform: rotate(-180deg);}
    71% {transform: rotate(-180deg);}
    100% {transform: rotate(0deg);}
}
/*limit car out*/
@-webkit-keyframes CarBounceOut {
    10% { opacity: 1; -webkit-transform:translate(0,0); }
    75% { opacity: 1; -webkit-transform:translate(0,50px) scaleX(0.9); }
    100% {opacity:0;-webkit-transform:translate(0,-400px);}
}
@-moz-keyframes CarBounceOut {
    10% { opacity: 1; -moz-transform:translate(0,0); }
    75% { opacity: 1; -moz-transform:translate(0,50px) scaleX(0.9); }
    100% {opacity:0;-moz-transform:translate(0,-400px);}
}
@-o-keyframes CarBounceOut {
    10% { opacity: 1; -o-transform:translate(0,0); }
    75% { opacity: 1; -o-transform:translate(0,50px) scaleX(0.9); }
    100% {opacity:0;-webkit-transform:translate(0,-400px);}
}
@keyframes CarBounceOut {
    10% { opacity: 1; transform:translate(0,0); }
    75% { opacity: 1; transform:translate(0,50px) scaleX(0.9); }
    100% { opacity:0; transform:translate(0,-400px);}
}



/*ios 生活指数*/
#cosmetics-page{

}
#cosmetics-page .weather-lead{
    background-color: #FD7565;
}

#cosmetics-page  .tab-cot .note {
    background-color: #FD7565;
}

#cosmetics-page  .comfortable .shadow {
    -webkit-text-stroke: 6px #FD8E82;
    color: #FD8E82;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#cosmetics-page .weather-lead .notice{
    border-top: #FEC7C1 solid 1px;
}
#cosmetics-page .day-content .tab-cot{
    text-shadow: 1px 0px 0px #E3695B,-1px 0px 0px #E3695B,0px 1px 0px #E3695B,0px -1px 0px #E3695B,0 0 3px #000;
}
#cosmetics-page .day-content .arrow{
    border-color: #FD7565 transparent transparent transparent;
}
.cosmetics-animate{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -45px;
    right: -45px;
}
.cosmetics-animate .front-rote{
    width: 180px;
    height: 180px;
    display: block;
    background: url("http://cdn.moji.com/index/images/ios/cometics-front.png") no-repeat;
    background-size: 180px 180px;
    position: absolute;
    top: 0;
    left: 0;
    animation: fontRote 24s linear 0 infinite normal;
    -moz-animation: fontRote 24s linear 0 infinite normal;
    -webkit-animation: fontRote 24s linear 0 infinite normal;
    -o-animation: fontRote 24s linear 0 infinite normal;
}
.cosmetics-animate .reverse-rote{
    width: 126px;
    height: 126px;
    display: block;
    background: url("http://cdn.moji.com/index/images/ios/cometics-reverse.png") no-repeat;
    background-size: 126px 126px;
    position: absolute;
    top: 50%;
    margin-top: -63px;
    left: 50%;
    margin-left: -63px;
    animation: revertRote 24s linear 0 infinite normal;
    -moz-animation: revertRote 24s linear 0 infinite normal;
    -webkit-animation: revertRote 24s linear 0 infinite normal;
    -o-animation: revertRote 24s linear 0 infinite normal;
}
.cosmetics-animate .bling{
    width: 134px;
    height: 134px;
    display: block;
    background: url("http://cdn.moji.com/index/images/ios/cometics-bling.png") no-repeat;
    background-size: 134px 134px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -67px;
    margin-top: -67px;
    animation: blings 3s linear 0 infinite normal;
    -moz-animation: blings 3s linear 0 infinite normal;
    -webkit-animation: blings 3s linear 0 infinite normal;
    -o-animation: blings 3s linear 0 infinite normal;
}

/*正向旋转*/
@-webkit-keyframes fontRote {
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes fontRote {
    0% {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(360deg)}
}
@-o-keyframes fontRote {
    0% {-o-transform: rotate(0deg)}
    100% {-o-transform: rotate(360deg)}
}
@keyframes fontRote {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

/*反向旋转*/
@-webkit-keyframes revertRote {
    0% {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(-360deg)}
}
@-moz-keyframes revertRote {
    0% {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(-360deg)}
}
@-o-keyframes revertRote {
    0% {-o-transform: rotate(0deg)}
    100% {-o-transform: rotate(-360deg)}
}
@keyframes revertRote {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
}

/*blings*/
/*@-webkit-keyframes blings {*/
/*0% {opacity: 1;-webkit-transform:rotate(odeg);}*/
/*100% {opacity:0;-webkit-transform:rotate(-360deg);}*/
/*}*/
/*@-moz-keyframes blings {*/
/*0% {opacity: 1;-moz-transform:rotate(0deg);}*/
/*100% {opacity:0;-moz-transform:rotate(-360deg);}*/
/*}*/
/*@-o-keyframes blings {*/
/*0% {opacity: 1;-o-transform:rotate(0deg);}*/
/*100% {opacity:0;-o-transform:rotate(-360deg);}*/
/*}*/
/*@keyframes blings {*/
/*0% {opacity: 1;-o-transform:rotate(0deg);}*/
/*100% {opacity:0;transform:rotate(-360deg);}*/
/*}*/

@-webkit-keyframes blings {
    0% {opacity: 1;}
    100% {opacity:0;}
}
@-moz-keyframes blings {
    0% {opacity: 1;}
    100% {opacity:0;}
}
@-o-keyframes blings {
    0% {opacity: 1;}
    100% {opacity:0;}
}
@keyframes blings {
    0% {opacity: 1;}
    100% {opacity:0;}
}

/*fishing*/
#fishing-page01 .weather-lead{
    background-color: #1691B7;
}

#fishing-page01  .tab-cot .note {
    background-color: #1691B7;
}

#fishing-page01  .comfortable .shadow {
    -webkit-text-stroke: 6px #38A5C4;
    color: #38A5C4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#fishing-page01 .weather-lead .notice{
    border-top: #9BD3E2 solid 1px;
}
#fishing-page01 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #1282A4,-1px 0px 0px #1282A4,0px 1px 0px #1282A4,0px -1px 0px #1282A4,0 0 3px #000;
}
#fishing-page01 .day-content .arrow{
    border-color: #1691B7 transparent transparent transparent;
}

#fishing-page02 .weather-lead{
    background-color: #0E6D97;
}

#fishing-page02  .tab-cot .note {
    background-color: #0E6D97;
}

#fishing-page02  .comfortable .shadow {
    -webkit-text-stroke: 6px #0C6287;
    color: #0C6287;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#fishing-page02 .weather-lead .notice{
    border-top: rgba(255, 255, 255, 0.60) solid 1px;
}
#fishing-page02 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #3589AA,-1px 0px 0px #3589AA,0px 1px 0px #3589AA,0px -1px 0px #3589AA,0 0 3px #000;
}
#fishing-page02 .day-content .arrow{
    border-color: #0E6D97 transparent transparent transparent;
}

.fishing-animate{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -30px;
    right: -45px;
}
.fishing-animate .fishing-bk{
    display: block;
    width: 180px;
    height: 180px;
    background: url("http://cdn.moji.com/index/images/ios/fishing-bk.png") no-repeat;
    background-size: 180px 180px;
    position: absolute;
    top: 0;
    right: 0;
    transform:rotate(45deg);

}
.f-wrap{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
}
.fishing-animate .fish{
    width: 60px;
    height: 60px;
    background: url("http://cdn.moji.com/index/images/ios/fish.png") no-repeat;
    background-size: 60px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -28px;
    margin-left: -28px;
    -webkit-transform:rotate(44deg);
    -moz-transform:rotate(44deg);
    -o-transform:rotate(44deg);
}
.fishing-animate .ball{
    width: 6px;
    height: 6px;
    background: url("http://cdn.moji.com/index/images/ios/fish-ball.png") no-repeat;
    background-size: 6px 6px;
    position: absolute;
    top: 32px;
    left: 50%;
    margin-left: -3px;
    margin-top: 0;
    transform-origin:3px 55px;
    -webkit-transform-origin:3px 55px;
    -moz-transform-origin:3px 55px;
    -o-transform-origin:3px 55px;
    animation: balling 3s ease 0 infinite normal;
    -moz-animation: balling 3s ease 0 infinite normal;
    -webkit-animation: balling 3s ease 0 infinite normal;
    -o-animation: balling 3s ease 0 infinite normal;
}

/*fish ball*/
@-webkit-keyframes balling {
    0% {opacity: 0; -webkit-transform:translate(0,30px);}
    40% {opacity:1;-webkit-transform:translate(0,0);}
    70% {opacity:1;-webkit-transform:translate(0,0);}
    80% {opacity:0;-webkit-transform:translate(0,0);}
    100% {opacity:0;-webkit-transform:translate(0,0);}
}
@-moz-keyframes balling {
    0% {opacity: 0; -moz-transform:translate(0,30px);}
    40% {opacity:1;-moz-transform:translate(0,0);}
    70% {opacity:1;-moz-transform:translate(0,0);}
    80% {opacity:0;-moz-transform:translate(0,0);}
    100% {opacity:0;-moz-transform:translate(0,0);}
}
@-o-keyframes balling {
    0% {opacity: 0;-o-transform:translate(0,30px);}
    40% {opacity:1;-o-transform:translate(0,0);}
    70% {opacity:1;-o-transform:translate(0,0);}
    80% {opacity:0;-o-transform:translate(0,0);}
    100% {opacity:0;-o-transform:translate(0,0);}
}
@keyframes balling {
    0% {opacity: 0;transform:translate(0,30px);}
    40% {opacity:1; transform:translate(0,0);}
    70% {opacity:1; transform:translate(0,0);}
    80% {opacity:0; transform:translate(0,0);}
    100% {opacity:0; transform:translate(0,0);}
}
/*washing car*/
#washCar01 .weather-lead{
    background-color: #55a345;
}

#washCar01  .tab-cot .note {
    background-color: #55a345;
}

#washCar01  .comfortable .shadow {
    -webkit-text-stroke: 6px #77B36B;
    color: #77B36B;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#washCar01 .weather-lead .notice{
    border-top: #BCD9B6 solid 1px;
}
#washCar01 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #4D9041,-1px 0px 0px #4D9041,0px 1px 0px #4D9041,0px -1px 0px #4D9041,0 0 3px #000;
}
#washCar01 .day-content .arrow{
    border-color: #58A24A transparent transparent transparent;
}

#washCar02 .weather-lead{
    background-color: #4A7742;
}

#washCar02  .tab-cot .note {
    background-color: #4A7742;
}

#washCar02  .comfortable .shadow {
    -webkit-text-stroke: 6px #6C9065;
    color: #6C9065;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#washCar02 .weather-lead .notice{
    border-top: rgba(255, 255, 255, 0.60) solid 1px;
}
#washCar02 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #436B3B,-1px 0px 0px #436B3B,0px 1px 0px #436B3B,0px -1px 0px #436B3B,0 0 3px #000;
}
#washCar02 .day-content .arrow{
    border-color: #4A7742 transparent transparent transparent;
}

#washCar03 .weather-lead{
    background-color: #757347;
}

#washCar03  .tab-cot .note {
    background-color: #757347;
}

#washCar03  .comfortable .shadow {
    -webkit-text-stroke: 6px #8F8D69;
    color: #8F8D69;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-shadow: #999 0 0 1px;
}
#washCar03 .weather-lead .notice{
    border-top: rgba(255, 255, 255, 0.60) solid 1px;
}
#washCar03 .day-content .tab-cot{
    text-shadow: 1px 0px 0px #69673F,-1px 0px 0px #69673F,0px 1px 0px #69673F,0px -1px 0px #69673F,0 0 3px #000;
}
#washCar03 .day-content .arrow{
    border-color: #757347 transparent transparent transparent;
}

.car-animate{
    width: 100px;
    height: 125px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("http://cdn.moji.com/index/images/ios/wash-car01.png") no-repeat;
    background-size: 100px auto;
    animation: washCar 5s linear 2s infinite normal;
    -moz-animation: washCar 5s linear 2s infinite normal;
    -webkit-animation: washCar 5s linear 2s infinite normal;
    -o-animation: washCar 5s linear 2s infinite normal;
}
@-webkit-keyframes washCar {
    48% {
        background: url("http://cdn.moji.com/index/images/ios/wash-car01.png") no-repeat;
        background-size: 100px auto;
    }
    50% {
        background: url("http://cdn.moji.com/index/images/ios/wash-car02.png") no-repeat;
        background-size: 100px auto;
    }
    98%{
        background: url("http://cdn.moji.com/index/images/ios/wash-car02.png") no-repeat;
        background-size: 100px auto;
    }
}
@-moz-keyframes washCar {
    48% {
        background: url("http://cdn.moji.com/index/images/ios/wash-car01.png") no-repeat;
        background-size: 100px auto;
    }
    50% {
        background: url("http://cdn.moji.com/index/images/ios/wash-car02.png") no-repeat;
        background-size: 100px auto;
    }
    98%{
        background: url("http://cdn.moji.com/index/images/ios/wash-car02.png") no-repeat;
        background-size: 100px auto;
    }
}
@-o-keyframes washCar {
    48% {
        background: url("http://cdn.moji.com/index/images/ios/wash-car01.png") no-repeat;
        background-size: 100px auto;
    }
    50% {
        background: url("http://cdn.moji.com/index/images/ios/wash-car02.png") no-repeat;
        background-size: 100px auto;
    }
    98%{
        background: url("http://cdn.moji.com/index/images/ios/wash-car02.png") no-repeat;
        background-size: 100px auto;
    }
}
@keyframes washCar{
    48% {
        background: url("http://cdn.moji.com/index/images/ios/wash-car01.png") no-repeat;
        background-size: 100px auto;
    }
    50% {
        background: url("http://cdn.moji.com/index/images/ios/wash-car02.png") no-repeat;
        background-size: 100px auto;
    }
    98%{
        background: url("http://cdn.moji.com/index/images/ios/wash-car02.png") no-repeat;
        background-size: 100px auto;
    }
}

/*for ios*/
.iphone-style .tab-cot .note{
    padding: 15px 40px 15px 15px;
}
.iphone-style  .day-content .day-tabs{
    padding-right: 25px;
}
.iphone-style .baike-text{
    padding: 10px 35px 10px 10px;
}
.iphone-style .weather-lead{
    padding: 25px 40px 25px 15px
}
.link-add{
    position: relative;
    z-index: 3;
}

.ad-link{
    position: relative;
    z-index: 100;
    top:1px;
    width: 50px;
    height: 20px;
    background: url('http://cdn.moji.com/index/images/more.png') no-repeat;
    background-size: auto 20px;
    display: inline-block;
    vertical-align:top;
    border-radius:10px;
    -moz-border-radius: 10px;
    -o-border-radius:10px;
    -webkit-border-radius: 10px;
    overflow:hidden;
    text-indent:-777px;
}
/*APEC*/
.number-title{
    font-family: "microsoft yahei",arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
.number-title .h2{
    font-size: 75px;
    letter-spacing: 10px;
    text-indent: 12px;
    text-align: center;
}
.number-title .h3{
    font-size: 27px;
}